@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');


.college-theme{
  position: absolute;
  height: 450px;
  max-height: 800px;
  width: 350px;
  max-width: 600px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 40px auto;
  bottom: 70px;
  right: 30px;
  border-radius: 10px;
}

.college-theme h1{
  font-family: 'Pacifico', cursive;
  color: rgb(0, 46, 103);
  margin: 0;
  height: 40px;
  font-size: 20px;
  background: var(--primaryGradient);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: var(--primaryBoxShadow)
}

.chats-container {
  position: relative;

  overflow-y: scroll;
  flex-direction: column-reverse;
}

.college-theme .chats {
  position: absolute;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 10px 0 0;
  width: 100%;
  height: auto;
}

.college-theme .chats .chat {
  background: rgba(189, 189, 189, 0.8);
  position: relative;
  padding: 2px 7px;
  font-size: 14px;
  border-radius: 10px;
  list-style: none;
  margin: 5px 0;
  max-width: 75%;
  overflow-wrap: break-word;
}

.college-theme .message-area {
  height: 100%;
  display: grid;
  grid-template-rows: auto 30px;
}

.college-theme .chats .chat.right{
  margin-left: auto
}

.college-theme .chats .chat.left{
  margin-right: auto;
}

.college-theme .input{
  height: 40px;
  width: 100%;
  background: var(--primaryGradient);
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto 70px;

}

.college-theme .input input[type="text"]{
  background: rgba(255, 255, 255, 0.5);
  outline: 0;
  border: 2px solid #0e0075;
  border-radius: 10px;
  padding: 0 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 30px;
  width: auto;
  margin: auto 0 auto 10px;
  box-sizing: border-box;
  font-size: 14px;	
}

.college-theme .input input[type="submit"]{
  padding: 6px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;	
}

.college-theme .input input[type="submit"]:hover {
  background: #0074c7;
  border-radius: 10px;
  color: #FFF;	
}

table {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border-radius: 10px;
  border: 1px solid #e8e8e8
}

table tr:nth-child(even) {
  background-color: #f7f7f7
}

table th,table td {
  padding: 10px 15px
}

table th {
  background-color: #f0f0f0;
  border: 1px solid #dedede;
  border-bottom-color: #c9c9c9
}

table td {
  border: 1px solid #e8e8e8
}

a {
  cursor: pointer;
}

.help-bubble {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Pacifico', cursive;
  color: #FFF;
  height: 40px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-bubble:hover {
  color: #DDD;
}
