
*, html {
  --primaryGradient: linear-gradient(93.12deg, #1b5e98 0.52%, #1dcce7 100%);
  --secondaryGradient: linear-gradient(268.91deg, #1b4198 -2.14%, #1d3fe7 99.69%);
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --primary: #1b4f98;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  font-weight: bold;
  -webkit-box-shadow: 0 8px 20px -4px #999;
  -moz-box-shadow: 0 8px 20px -4px #999;
  box-shadow: 0 8px 20px -4px #999;

  /* the rest of your styling */
}

.card:hover     {
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.Cardy:hover     {
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.Cardy{
  background-color: rgb(231, 226, 226);
  border-radius: 10px;
}


.bg-primary{
  background-image: #14544c ;
}
.carousel {
  
  width: auto;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.navbar {
 
  min-width: 100%;
  background: var(--primaryGradient);
}

.carousel img {
width:100%;
}
